.mini-icon {
    height: 18px;
}

.medium-icon {
    padding-left: 20px;
    padding-right: 20px;
    height: 28px;
}

.mini-header {
    height: 10x;
}

.line {
    width: 1.2px;
    min-width: 1.2px;
    height: 24px;
    background: #e0e0e0;
}

.position-right {
    justify-content: flex-end;
    display: flex;
}

body {
    padding: 5px 20px 20px 20px;
    font-family: "open sans", tahoma, sans-serif;
}

a.mini-header {
    font-size: 12px;
    color: rgba(0, 0, 0, .7);
    padding-left: 10px;
    padding-right: 10px;
}

a:hover.mini-header {
    color: green;
    text-decoration: none;
    align-content: center;
}

.medium-header {
    padding: 15px;
}

a.medium-header {
    font-size: 12px;
    color: rgba(0, 0, 0, .7);
    padding-left: 10px;
    padding-right: 10px;
}

.search {
    width: 63%;
    height: 32px;
    border-radius: 8px;
    border: solid 1px var(--N75, #E5E7E9);
}

button.medium-header {
    width: 100px;
    height: 32px;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: white;
    color: rgb(3, 172, 14);
    cursor: pointer;
    border: 1px solid rgb(3, 172, 14);
}

button.medium-header-fill {
    width: 100px;
    height: 32px;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: rgb(3, 172, 14);
    color: white;
    cursor: pointer;
    border: 1px solid rgb(3, 172, 14);
}

button.medium-header-fill-grey {
    width: 100px;
    height: 32px;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: #6C727C;
    color: white;
    cursor: pointer;
    border: 1px solid #6C727C;
}

button.medium-header-fill-green {
    width: 100px;
    height: 32px;
    padding: 0px 16px;
    font-weight: 800;
    border-radius: 8px;
    font-size: 12px;
    background: #03AC0E;
    color: white;
    cursor: pointer;
    border: 1px solid #6C727C;
}

a:hover.medium-header {
    color: green;
    text-decoration: none;
    align-content: center;
}

.content {
    padding: 20px 30px 20px 30px;
}

div.content {
    border: 1px;
    opacity: 2;
    border-style: ridge;
    border-radius: 5%;
    border-color: #8080801a;
}

div.content-nav {
    box-sizing: border-box;
    line-height: 20px;
    font-weight: 800;
    color: var(--G500, #03AC0E);
    text-transform: capitalize;
    font-size: 14px;
    cursor: pointer;
    transition: color 300ms cubic-bezier(0.63, 0.01, 0.29, 1) 0s;
    display: inline-flex;
    flex: 1 1 auto;
    text-align: center;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    height: 40px;
    padding: 0px 24px;
}


/*
div:hover.content_01 {
    color: greenyellow;
    text-decoration: none;
    align-content: center;
}
*/

div.content_01 {
    line-height: 20px;
    font-weight: 800;
    color: blue;
    text-transform: capitalize;
    font-size: 14px;
    cursor: pointer;
    transition: color 300ms cubic-bezier(0.63, 0.01, 0.29, 1) 0s;
    display: inline-flex;
    flex: 1 1 auto;
    text-align: center;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    height: 40px;
    padding: 0px 24px;
}

.pulsa {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    border: solid 1px var(--N75, #E5E7E9);
}

.indicator {
    align-items: center;
    padding-top: 10px;
    color: gray;
}

.paket {
    width: 100%;
    height: 32px;
    border-radius: 10px;
    border: solid 1px var(--N75, #E5E7E9);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}