<!DOCTYPE html>
<html>

<head>
    <!-- External CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- grid -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Script Carausel -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Recreate Tokopedia</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row mini-header">
            <div class="col-sm-2">
                <img class="mini-icon " src="../icon/mobile-screen-button-solid.svg ">
                <a class="mini-header " href="https://www.tokopedia.com/mobile-apps/ ">Download Tokopedia App</a>
            </div>
            <div class="col-sm-5 ">
            </div>
            <div class="col-sm-5 position-right ">
                <a class="mini-header " href=" ">Tentang Tokopedia</a>
                <a class="mini-header " href=" ">Mitra Tokopedia</a>
                <a class="mini-header " href=" ">Mulai Berjualan</a>
                <a class="mini-header " href=" ">Promo</a>
                <a class="mini-header " href=" ">Tokopedia Care</a>
            </div>
        </div>
        <div class="row medium-header ">
            <img class="logo " src="../img/logo-tokped.svg ">
            <a class="medium-header " href=" ">Kategori</a>
            <input type="text " class="search " placeholder="Cari disini ">
            <img class="medium-icon " src="../icon/cart-shopping-solid.svg ">
            <button class="medium-header ">Masuk</button>
            <button class="medium-header-fill ">Daftar</button>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin: 0px 30px 0px 30px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="../img/c1.jpg" alt="Promo 1" style="width:100%;">
            </div>

            <div class="item">
                <img src="../img/c2.jpg" alt="Promo 2" style="width:100%;">
            </div>

            <div class="item">
                <img src="../img/c3.jpg" alt="Promo 3" style="width:100%;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row content" style="padding: 12px; border: groove;">
        <div class="row" style="margin-right:10px">
            <div class="col-sm-6 " style="margin: 5px;">
                <h3 style="padding-bottom: 15px;">Kategori Pilihan</h3>
                <div class="row">
                    <div class="col-sm-3 content">
                        <img src="../img/toy.jpg" width="100%">
                    </div>
                    <div class="col-sm-3 content">
                        <img src="../img/bag.jpg" width="100%">
                    </div>
                    <div class="col-sm-3 content">
                        <img src="../img/food.jpg" width="100%">
                    </div>
                    <div class="col-sm-3 content">
                        <img src="../img/shoes.jpg" width="100%">
                    </div>
                </div>
            </div>
            <div style="padding: 5px;">
                <h3 style="padding-bottom: 20px;"><span style="font-size: 16px; color: black;">Top Up dan Tagihan</span></h3>
                <div class="col-sm-5" style="margin: 5px;">

                    <div class="row" style="text-align: center; border: groove;">
                        <div class="col-sm-3 content_01" style="margin-bottom: 5px;">
                            <p class="indicator" id="but1" onclick="changeClick(1)"><span>Pulsa</span></p>
                        </div>
                        <div class="col-sm-3 content_01" style="margin-bottom: 5px;">
                            <p class="indicator" id="but2" onclick="changeClick(2)"> <span>Paket</span>
                        </div>
                        <div class="col-sm-3 content_01" style="margin-bottom: 5px;">
                            <p class="indicator" id="but3" onclick="changeClick(3)"> <span>Listrik</span>
                        </div>
                        <div class="col-sm-3 content_01" style="margin-bottom: 5px;">
                            <p class="indicator" id="but4" onclick="changeClick(4)"> <span>PLN</span>
                        </div>
                        <div class="indicator"></div>
                    </div>
                    <div class="row" style="flex: 1 1 auto; padding: 10px;">
                        <div class="col-sm-5">
                            <label for="">
                                Nomor Telpon
                            </label>
                            <input type="number" class="pulsa" placeholder="081234567890" id="notlp">
                            <input type="number" class="paket" placeholder="081234567890" id="notlpPaket" hidden>
                        </div>
                        <div class="col-sm-5">
                            <label for="">
                                Nominal
                            </label>
                            <!--input type="text" class="pulsa" disabled-->
                            <select id="nominal" class="pulsa" disabled>
                                <option value="1000">Rp. 1.000</option>
                                <option value="3000">Rp. 3.000</option>
                                <option value="5000">Rp. 5.000</option>
                                <option value="10000">Rp. 10.000</option>
                                <option value="20000">Rp. 20.000</option>
                                <option value="25000">Rp. 25.000</option>
                                <option value="50000">Rp. 50.000</option>
                                <option value="100000">Rp. 100.000</option>
                            </select>
                            <select id="paketan" class="paket" disabled hidden>
                                <option value="30500">Internet 10 GB - Rp. 30.500</option>
                                <option value="43000">Internet 15 GB - Rp. 43.000</option>
                                <option value="20000">Internet Combo Unlimited (Kuota Malam) - Rp. 20.000</option>
                                <option value="70000">Internet Combo Unlimited - Rp. 70.000</option>
                            </select>
                        </div>
                        <div class="col-sm-2" style="margin-top: 25px;">
                            <button class="medium-header-fill-grey" disabled id="buttonGrey">Beli</button>
                            <button class="medium-header-fill-green" hidden id="buttonGreen">Beli</button>
                            <button class="medium-header-fill-green" hidden id="buttonGreenPaket">Beli</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="margin-left: 6px; white-space: nowrap;">
            <div class="row">
                <div class="col-lg-1" style="margin-right: 24px; padding: 6px 12px; border: 1px;">
                    <button class="btn" style="background-color: rgb(229, 231, 233);">
                        <img src="../icon/category.png" alt="icon-Category" width="25px" height="25px">
                        <span>Kategori</span></button>
                </div>
                <div class="col-lg-1" style="margin-right: 102px; padding: 6px 12px; border: 1px;">
                    <button class="btn" style="background-color: rgb(229, 231, 233);">
                        <img src="../icon/tabphone.png" alt="icon-Handphone & Tablet" width="25px" height="25px">
                        <span>Handphone & Tablet</span></button>
                </div>
                <div class="col-lg-1" style="margin-right: 80px; padding: 6px 12px; border: 1px;">
                    <button class="btn" style="background-color: rgb(229, 231, 233);">
                        <img src="../icon/topup.png" alt="icon-Top-up & Tagihan" width="25px" height="25px">
                        <span>Top-up & Tagihan</span></button>
                </div>
                <div class="col-lg-1" style="margin-right: 40px; padding: 6px 12px; border: 1px;">
                    <button class="btn" style="background-color: rgb(229, 231, 233);">
                        <img src="../icon/planes.png" alt="icon-Travel & Entertainment" width="25px" height="25px">
                        <span>Travel & Entertainment</span></button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<script>
    $(document).ready(function() {
        $('#notlp').change(function() {
            if ($('#notlp').val() > 0 && $('#notlp').val().length == 12) {
                $('#nominal').prop('disabled', false);
                console.log($('#notlp').val());
            } else {
                $('#nominal').prop('disabled', true);
                $('#buttonGrey').show();
                $('#buttonGreen').hide();
                console.clear();
            }
        });

        $('#notlpPaket').change(function() {
            if ($('#notlpPaket').val() > 0 && $('#notlpPaket').val().length == 12) {
                $('#paketan').prop('disabled', false);
                console.log($('#notlpPaket').val());
            } else {
                $('#paketan').prop('disabled', true);
                $('#buttonGrey').show();
                $('#buttonGreenPaket').hide();
                console.clear();
            }
        });

        $('#nominal').change(function() {
            $('#buttonGrey').hide();
            $('#buttonGreen').show();
            $('#buttonGreenPaket').hide();
        });

        $('#paketan').change(function() {
            $('#buttonGrey').hide();
            $('#buttonGreen').hide()
            $('#buttonGreenPaket').show();
        });

        $('#buttonGreen').click(function() {
            var value = 0;
            var nomval = parseInt($('#nominal').val());
            if (nomval <= 10000) {
                value = nomval + 3000;
            } else {
                value = nomval + 2000;
            }
            var confirmAction = confirm("Pembelian pulsa sebesar " + nomval + " ke nomor " + $('#notlp').val());
            if (confirmAction) {
                alert("Total harga pulsa Rp. " + value + ",- ke nomor " + $('#notlp').val() + " sedang di proses. Terima kasih");
            } else {
                close();
            }
        });

        $('#buttonGreenPaket').click(function() {
            var nomval = parseInt($('#paketan').val());
            var selected = document.getElementById('paketan');
            var nameval = selected.options[selected.selectedIndex].text;
            var confirmAct = confirm("Pembelian paket data " + nameval + " ke nomor " + $('#notlpPaket').val());
            if (confirmAct) {
                alert("Total harga paket data Rp. " + nomval + ",- ke nomor " + $('#notlpPaket').val() +
                    " sedang di proses. Terima kasih");
            } else {
                close();
            }
        });
        /*
        $('#but1').click(function() {
            $("#but1").change("style", "color: green");
            for (var i = 1; i <= 4; i++) {
                if ($("but" + i).attr("style", "color") == "green") {
                    continue;
                } else {
                    $("but" + 1).css("style", "color: gray");
                }
            }
        });
        */
    });

    function changeClick(nums) {
        var a = nums;

        for (var i = 1; i <= 4; i++) {
            if (a == i) {
                document.getElementById('but' + a).style.color = "green";
            } else {
                document.getElementById('but' + i).style.color = "grey";
            }
        }
        if (a == 1) {
            $('#notlp').show();
            $('#notlpPaket').hide();
            $('#paketan').hide();
            $('#nominal').show();
            $('#buttonGreenPaket').hide();
            $('#buttonGrey').show();
            $('#paketan').prop('disabled', true);
            document.getElementById('notlpPaket').value = '';
        } else if (a == 2) {
            $('#notlp').hide();
            $('#notlpPaket').show();
            $('#paketan').show();
            $('#nominal').hide();
            $('#buttonGreen').hide();
            $('#buttonGrey').show();
            $('#nominal').prop('disabled', true);
            document.getElementById('notlp').value = '';
        }
    }
</script>